<div class="container mt-3">
  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category.capitalize %>
  </p>

  <p>
    <%= link_to 'Add a Review', new_restaurant_review_path(@restaurant) %>
  </p>

  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
        (<%= review.rating %>)
      </li>
    <% end %>
  </ul>

  <%= link_to 'Back to list', restaurants_path %>
</div>
